{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

  <div class="form-class">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
           <p>{{ message }}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}
        <h1>Login</h1>
        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
      </div>
    </div>
  </div>
{% endblock %}

{% include "footer.html" %}
